body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(8,34,137,1) 43%, rgba(7,50,147,1) 48%, rgba(6,66,157,1) 53%, rgba(5,88,172,1) 60%, rgba(5,100,180,1) 64%, rgba(4,116,190,1) 69%, rgba(3,131,200,1) 74%, rgba(2,150,213,1) 80%, rgba(0,212,255,1) 100%);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(6, 93, 163);
margin: 0;
}

form{
    width:400px;
    margin:10vh auto 0 auto;
    padding: 40px;
    background-color:whitesmoke;
    border-radius: 10px;
}
h1{
    text-align: center;

}
form  button{
    background-color: rgb(30, 30, 238);
    padding: 10px;
    height: 50px;
    color: white;
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
#input1{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;

}
#input1 input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(29, 21, 182);
}

#input1 input:focus{
    outline: 0;
}
#input1.success input
{
border-color: green;
}
#input1.error input
{
border-color:red;
}
#input1 #error
{
    border-color: red;
    color:red;
    font-size: 15px;
}

